<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="Admin.Catalog" PermissionNames="ManageOrders,ManageProducts,ManageCategories,ManageCustomers,ManageProductReviews,ManageProductTags,ManageAttributes,ManageSuppliers" IconClass="fa-book" >
      <siteMapNode SystemName="Orders" nopResource="Admin.Catalog.Orders" PermissionNames="ManageOrders" controller="Order" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Suppliers" nopResource="Admin.Catalog.Suppliers" PermissionNames="ManageSuppliers" controller="Supplier" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Customers" nopResource="Admin.Catalog.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Users" nopResource="Admin.Users" PermissionNames="ManageUsers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Users list" nopResource="Admin.Users.Users" PermissionNames="ManageUsers" controller="User" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="User roles" nopResource="Admin.Users.UserRoles" PermissionNames="ManageUsers" controller="UserRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log" nopResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Activity log list" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Activity types" nopResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="User and user settings" nopResource="Admin.Configuration.Settings.SupplierUser" controller="Setting" action="SupplierUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Reports" nopResource="Admin.Reports" PermissionNames="ManageReports" IconClass="fa-pie-chart">
      <siteMapNode SystemName="Reports.List" nopResource="Admin.Reports.List" PermissionNames="ManageReports" controller="Report" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Reports.Final.Report.List" nopResource="Admin.Reports.FinalReportList" PermissionNames="ManageReports" controller="Report" action="FinalReportList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Reports.Еfficiency.List" nopResource="Admin.Reports.Еfficiency" PermissionNames="ManageЕfficiency" controller="Report" action="ЕfficiencyList"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

